@charset "UTF-8";
$es-montserrat: "Montserrat", sans-serif;
$es-white: #ffffff;
$es-black: #000000;
$es-yellow: #fef115;
$es-yellow-light: #f4ec94;
$es-bgcolor: #f4fbfb;
$es-orange: #e95817;
$es-orange-dark: #7c2e0c;
$es-green: #115e2a;
$es-green-hover: #0e8144;
$es-green-border: #11622c;
$es-grey: #ececee;

#es-rc.es-rc-content {
  margin: 0 auto;
  padding: 0;
  font-family: $es-montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  p {
    font-family: $es-montserrat;
    margin-block: 0;
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  ::selection {
    background-color: $es-orange;
    color: $es-white;
  }

  .es-section-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
    text-transform: uppercase;
  }

  .es-kv {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $es-grey;

    &__title {
      margin-bottom: 25px;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding: 5px 0;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      z-index: 4;
    }

    &__subtitle {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;
      text-align: center;
    }

    &__label {
      position: absolute;
      top: 45%;
      left: 3%;
      color: $es-black;
      padding: 5px 10px;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      font-style: italic;
      z-index: 5;
    }

    &__label-2 {
      color: $es-black;
      padding: 8px 16px;
      font-size: 12px;
      text-transform: uppercase;
      z-index: 5;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.32);
    }

    &__photo {
      width: 100%;
      height: 100%;
      z-index: -1;

      &--1 {
        order: 2;
      }

      &--2 {
        order: 1;
      }
    }

    &__bg {
      display: none;
    }

    &__logo {
      margin-bottom: 5px;
      animation: slideleft 1s ease forwards;
      z-index: 3;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
      max-height: 100px;
    }
  }

  .es-results {
    padding: 32px 16px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: $es-grey;

    &__list {
      max-width: 600px;
      margin: 0 auto;
    }

    &__list-item {
      margin-bottom: 30px;
    }

    &__img {
      margin-top: 20px;
      margin-bottom: 20px;

      &--desktop {
        display: none;
      }
    }
  }

  .list-item__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    padding: 5px;
    position: relative;
    border: 1px solid black;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid black;
    }
  }

  .es-results__disclaimer {
    font-size: 8px;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
    line-height: 1.4;
    padding-left: 5px;
  }

  .es-benefits {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 3;
    margin: 0;
    background-color: $es-grey;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;
    }

    &__item {
      max-width: 330px;
      max-height: 398px;
      width: 100%;
      position: relative;

      &--middle {
        position: relative;
      }

      &-img {
        max-height: 398px;
        min-height: 398px;
      }

      &-disclaimer {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 8px;
        font-weight: 400;
        text-align: center;
      }

      &-label {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin-top: 8px;
        text-transform: uppercase;

        &--before {
          position: absolute;
          bottom: 10%;
          left: 30%;
        }

        &--after {
          position: absolute;
          bottom: 10%;
          right: 35%;
        }
      }
    }

    &__item-label-group {
      position: absolute;

      &--before {
        top: 35%;
        left: 0%;
      }

      &--after {
        top: 35%;
        right: 0%;
      }
    }

    &__item-label-inner {
      position: relative;
    }

    &__item-label-img {
      max-width: 75%;
    }


    &__video {
      max-width: 330px;
      max-height: 400px;
      width: 100%;
    }
  }

  .es-product-colors {
    background-color: $es-white;

    &__title {
      padding-bottom: 10px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      column-gap: 0;
      margin: 0 auto;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      position: relative;

      &-img {
        max-width: 101%;
      }

      &-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        position: absolute;
        bottom: 3%;
      }

      &-title {
        padding: 5px;
        border: 2px solid $es-white;
        font-size: 12px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        color: $es-white;
        position: absolute;
        bottom: 2%;
        min-width: 210px;
      }

      &-product-img {
        position: absolute;
        display: block;
        right: -120px;
        bottom: 2%;
        height: 150px;
        min-width: 55px;
      }
    }
  }

  .es-product-use {

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      margin: 0 auto;
      gap: 0;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      position: relative;

      &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        position: absolute;
        bottom: 4%;
        min-height: 60px;
        min-width: 293px;
        max-width: 293px;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        color: $es-black;
        text-transform: uppercase;
        background-color: $es-grey;
        border: 2px solid $es-black;
      }
    }
  }

  .es-cross {

    &__container {
      display: flex;
      flex-direction: column;
      gap: 0 20px;
      margin: 0 auto;

    }

    &__single {
      border-radius: 8px;
      transition: all 0.3s;


      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        color: inherit;
      }

      &-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
        position: relative;
      }

      &-title {
        position: absolute;
        top: 7%;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: $es-white;
      }
    }

    &__button {
      width: 220px;
      margin: 0 auto;
      border: 1px solid $es-black;
      border-radius: 0;
      display: block;
      margin-bottom: 15px;
      padding: 12px 3px;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      background: $es-black;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        border: 1px solid $es-black;
        ;
        color: $es-black;
        background: #fff;
      }
    }
  }

  .es-logos {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    background-color: $es-green;
    background-size: cover;
    gap: 30px;

    &__img {
      height: 100%;
      margin: 0 auto;
      display: block;
      max-width: 100%;
      transition: 0.5s all;

      &:hover {
        transform: scale(1.1);
      }

      &--cruelty {
        aspect-ratio: 231/52;
      }

      &--vegan {
        aspect-ratio: 199/62;
      }
    }
  }

  @media screen and (min-width: 500px) {
    .es-kv {

      &__title {
        bottom: 10px;
        left: 10px;
        padding: 5px 15px;
        margin-bottom: 0;
      }

      &__label {
        left: 15%;
      }
    }
  }

  @media screen and (min-width: 675px) {
    .es-kv {
      padding-top: 0;
      background-color: revert;
      position: relative;
      min-height: 300px;

      &__left {
        max-width: 50%;
      }

      &__logo {
        padding-top: 10px;
        max-width: 90px;
        margin-left: auto;
        margin-right: auto;
      }

      &__label {
        top: revert;
        bottom: 25%;
        left: 3%;
      }

      &__label-2 {
        position: absolute;
        bottom: 2%;
        right: 2%;
        color: $es-white;
      }

      &__photoimg {
        max-width: 115px;
      }

      &__bg {
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
      }

      &__logo {
        width: 100%;
      }

      &__photo--1 {
        order: 1;
      }

      &__photo--2 {
        order: 2;
      }
    }
  }

  @media screen and (min-width: 768px) {

    .es-kv {
      padding-top: 0;
      min-height: auto;
      min-height: 350px;

      background: revert;
      position: relative;

      &__bg {
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
      }

      &__photoimg {
        display: block;
        max-width: 135px;
      }
    }

    .es-product-colors__container,
    .es-product-use__container {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px
    }




    .es-product-use__single {
      width: revert;

      &-img {
        max-width: 101%;
      }
    }

    .es-product-colors {
      &__single-title {
        min-width: 202px;
        font-size: 12px;
      }
    }

    .es-cross__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .es-benefits {
      &__title {
        border-top: 2px solid black;
        background-color: $es-white;
      }

      &__container {
        flex-direction: row;
        align-items: flex-start;
        border: 2px solid black;
        border-left: none;
        border-right: none;
      }

      &__item:not(:last-child) {
        border-right: 2px solid black;
      }
    }

    .es-product-colors {
      &__title {
        padding-top: 10px;
        background-color: $es-white;
      }
    }

    .es-results {
      position: relative;
      padding: 0;

      &__img {
        margin-bottom: 0;

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
          margin-top: 0;
        }
      }

      &__list {
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translate(-5%, -50%);
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-section-title {
      font-size: 24px;
    }


    .es-kv {
      min-height: 453px;

      &__logo {
        margin-bottom: 10px;
      }

      &__title {
        font-size: 32px;
      }

      &__subtitle {
        font-size: 26px;
      }

      &__photoimg {
        max-width: 190px;
      }

      &__label {
        font-size: 19px;
      }

      &__label-2 {
        font-size: 18px;
      }
    }

    .es-results {
      &__list {
        max-width: 410px;
        top: 58%;
        left: 6%;
      }

      &__disclaimer {
        margin-top: 70px;
      }
    }

    .list-item {
      &__title {
        font-size: 18px;
        padding: 10px;
      }
    }

    .es-product-colors {
      &__container {
        column-gap: 0;
        border: 2px solid black;
      }

      &__single-group {
        bottom: 5%;
      }

      &__single-product-img {
        right: -116px;
        bottom: -20px;
        height: 156px;
        min-width: 61px;
      }

      &__single {
        width: 25%;

      }
    }

    .es-product-use {

      &__container {
        column-gap: 0;
        border: 2px solid black;
      }

      &__single {
        width: 25%;

        &:not(:last-child) {
          border-right: 2px solid black;
        }
      }

      &__single-title {
        min-width: 225px;
        max-width: 225px;
        font-size: 14px;
      }

      &__single-img {
        max-width: 244.5px;
      }
    }

    .es-cross {
      &__container {
        border-top: 2px solid black;
        gap: 0;
      }

      &__single {
        flex: 0 1 calc(26% - 10px);
      }

      &__single-group {
        width: 101%;
      }
    }


  }
}

// Animations
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}