#es-rc.es-rc-content {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  overflow: hidden;
}
#es-rc.es-rc-content * {
  box-sizing: border-box;
}
#es-rc.es-rc-content p {
  font-family: "Montserrat", sans-serif;
  margin-block: 0;
}
#es-rc.es-rc-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc.es-rc-content a {
  text-decoration: none;
}
#es-rc.es-rc-content ::-moz-selection {
  background-color: #e95817;
  color: #ffffff;
}
#es-rc.es-rc-content ::selection {
  background-color: #e95817;
  color: #ffffff;
}
#es-rc.es-rc-content .es-section-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
}
#es-rc.es-rc-content .es-kv {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #ececee;
}
#es-rc.es-rc-content .es-kv__title {
  margin-bottom: 25px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  padding: 5px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  z-index: 4;
}
#es-rc.es-rc-content .es-kv__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}
#es-rc.es-rc-content .es-kv__label {
  position: absolute;
  top: 45%;
  left: 3%;
  color: #000000;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  z-index: 5;
}
#es-rc.es-rc-content .es-kv__label-2 {
  color: #000000;
  padding: 8px 16px;
  font-size: 12px;
  text-transform: uppercase;
  z-index: 5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.32);
}
#es-rc.es-rc-content .es-kv__photo {
  width: 100%;
  height: 100%;
  z-index: -1;
}
#es-rc.es-rc-content .es-kv__photo--1 {
  order: 2;
}
#es-rc.es-rc-content .es-kv__photo--2 {
  order: 1;
}
#es-rc.es-rc-content .es-kv__bg {
  display: none;
}
#es-rc.es-rc-content .es-kv__logo {
  margin-bottom: 5px;
  animation: slideleft 1s ease forwards;
  z-index: 3;
}
#es-rc.es-rc-content .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  max-height: 100px;
}
#es-rc.es-rc-content .es-results {
  padding: 32px 16px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #ececee;
}
#es-rc.es-rc-content .es-results__list {
  max-width: 600px;
  margin: 0 auto;
}
#es-rc.es-rc-content .es-results__list-item {
  margin-bottom: 30px;
}
#es-rc.es-rc-content .es-results__img {
  margin-top: 20px;
  margin-bottom: 20px;
}
#es-rc.es-rc-content .es-results__img--desktop {
  display: none;
}
#es-rc.es-rc-content .list-item__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  padding: 5px;
  position: relative;
  border: 1px solid black;
  border-bottom: none;
}
#es-rc.es-rc-content .list-item__title:last-child {
  border-bottom: 1px solid black;
}
#es-rc.es-rc-content .es-results__disclaimer {
  font-size: 8px;
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
  line-height: 1.4;
  padding-left: 5px;
}
#es-rc.es-rc-content .es-benefits {
  width: 100%;
  padding: 0;
  position: relative;
  z-index: 3;
  margin: 0;
  background-color: #ececee;
}
#es-rc.es-rc-content .es-benefits__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
#es-rc.es-rc-content .es-benefits__item-comparison {
  position: relative;
  width: 100%;
  display: inline-block;
  cursor: ew-resize;
}
#es-rc.es-rc-content .es-benefits .comparison-img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
#es-rc.es-rc-content .es-benefits .comparison-img--after {
  position: relative;
  max-height: 398px;
  min-height: 398px;
}
#es-rc.es-rc-content .es-benefits .comparison-img--before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip-path: inset(0 50% 0 0);
  max-height: 398px;
  min-height: 398px;
}
#es-rc.es-rc-content .es-benefits .comparison-slider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: ew-resize;
  background: transparent;
}
#es-rc.es-rc-content .es-benefits .comparison-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: calc(50% - 20px);
  background: white;
}
#es-rc.es-rc-content .es-benefits .comparison-slider::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: calc(50% - 20px);
  background: white;
}
#es-rc.es-rc-content .es-benefits .slider-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#es-rc.es-rc-content .es-benefits .slider-button::before,
#es-rc.es-rc-content .es-benefits .slider-button::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
}
#es-rc.es-rc-content .es-benefits .slider-button::before {
  left: 4px;
  transform: translateY(-50%);
  border-width: 6px 8px 6px 0;
  border-color: transparent #ffffff transparent transparent;
}
#es-rc.es-rc-content .es-benefits .slider-button::after {
  right: 4px;
  transform: translateY(-50%);
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #ffffff;
}
#es-rc.es-rc-content .es-benefits__item-label-inner {
  transition: opacity 0.3s ease;
}
#es-rc.es-rc-content .es-benefits__item-label-inner.hidden {
  opacity: 0;
  pointer-events: none;
}
#es-rc.es-rc-content .es-benefits__item {
  max-width: 330px;
  max-height: 398px;
  width: 100%;
  position: relative;
}
#es-rc.es-rc-content .es-benefits__item--middle {
  position: relative;
}
#es-rc.es-rc-content .es-benefits__item-img {
  max-height: 398px;
  min-height: 398px;
}
#es-rc.es-rc-content .es-benefits__item-disclaimer {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 8px;
  font-weight: 400;
  text-align: center;
}
#es-rc.es-rc-content .es-benefits__item-label {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
  text-transform: uppercase;
}
#es-rc.es-rc-content .es-benefits__item-label--before {
  position: absolute;
  bottom: 10%;
  left: 30%;
}
#es-rc.es-rc-content .es-benefits__item-label--after {
  position: absolute;
  bottom: 10%;
  right: 35%;
}
#es-rc.es-rc-content .es-benefits__item-label-group {
  position: absolute;
}
#es-rc.es-rc-content .es-benefits__item-label-group--before {
  top: 35%;
  left: 0%;
}
#es-rc.es-rc-content .es-benefits__item-label-group--after {
  top: 35%;
  right: 0%;
}
#es-rc.es-rc-content .es-benefits__item-label-inner {
  position: relative;
}
#es-rc.es-rc-content .es-benefits__item-label-img {
  max-width: 75%;
}
#es-rc.es-rc-content .es-benefits__video {
  max-width: 330px;
  max-height: 400px;
  width: 100%;
}
#es-rc.es-rc-content .es-product-colors {
  background-color: #ffffff;
}
#es-rc.es-rc-content .es-product-colors__title {
  padding-bottom: 10px;
}
#es-rc.es-rc-content .es-product-colors__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  -moz-column-gap: 0;
       column-gap: 0;
  margin: 0 auto;
}
#es-rc.es-rc-content .es-product-colors__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}
#es-rc.es-rc-content .es-product-colors__single-img {
  max-width: 101%;
}
#es-rc.es-rc-content .es-product-colors__single-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 3%;
}
#es-rc.es-rc-content .es-product-colors__single-title {
  padding: 5px;
  border: 2px solid #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 2%;
  min-width: 210px;
}
#es-rc.es-rc-content .es-product-colors__single-product-img {
  position: absolute;
  display: block;
  right: -120px;
  bottom: 2%;
  height: 150px;
  min-width: 55px;
}
#es-rc.es-rc-content .es-product-use__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin: 0 auto;
  gap: 0;
}
#es-rc.es-rc-content .es-product-use__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
}
#es-rc.es-rc-content .es-product-use__single-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  position: absolute;
  bottom: 4%;
  min-height: 60px;
  min-width: 293px;
  max-width: 293px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #ececee;
  border: 2px solid #000000;
}
#es-rc.es-rc-content .es-cross__container {
  display: flex;
  flex-direction: column;
  gap: 0 20px;
  margin: 0 auto;
}
#es-rc.es-rc-content .es-cross__single {
  border-radius: 8px;
  transition: all 0.3s;
}
#es-rc.es-rc-content .es-cross__single:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#es-rc.es-rc-content .es-cross__single a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: inherit;
}
#es-rc.es-rc-content .es-cross__single-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  position: relative;
}
#es-rc.es-rc-content .es-cross__single-title {
  position: absolute;
  top: 7%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
#es-rc.es-rc-content .es-cross__button {
  width: 220px;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 0;
  display: block;
  margin-bottom: 15px;
  padding: 12px 3px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background: #000000;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
}
#es-rc.es-rc-content .es-cross__button:hover {
  border: 1px solid #000000;
  color: #000000;
  background: #fff;
}
#es-rc.es-rc-content .es-logos {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
  background-color: #115e2a;
  background-size: cover;
  gap: 30px;
}
#es-rc.es-rc-content .es-logos__img {
  height: 100%;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transition: 0.5s all;
}
#es-rc.es-rc-content .es-logos__img:hover {
  transform: scale(1.1);
}
#es-rc.es-rc-content .es-logos__img--cruelty {
  aspect-ratio: 231/52;
}
#es-rc.es-rc-content .es-logos__img--vegan {
  aspect-ratio: 199/62;
}
@media screen and (min-width: 500px) {
  #es-rc.es-rc-content .es-kv__title {
    bottom: 10px;
    left: 10px;
    padding: 5px 15px;
    margin-bottom: 0;
  }
  #es-rc.es-rc-content .es-kv__label {
    left: 15%;
  }
}
@media screen and (min-width: 675px) {
  #es-rc.es-rc-content .es-kv {
    padding-top: 0;
    background-color: revert;
    position: relative;
    min-height: 300px;
  }
  #es-rc.es-rc-content .es-kv__left {
    max-width: 50%;
  }
  #es-rc.es-rc-content .es-kv__logo {
    padding-top: 10px;
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  #es-rc.es-rc-content .es-kv__label {
    top: revert;
    bottom: 25%;
    left: 3%;
  }
  #es-rc.es-rc-content .es-kv__label-2 {
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: #ffffff;
  }
  #es-rc.es-rc-content .es-kv__photoimg {
    max-width: 115px;
  }
  #es-rc.es-rc-content .es-kv__bg {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
  }
  #es-rc.es-rc-content .es-kv__logo {
    width: 100%;
  }
  #es-rc.es-rc-content .es-kv__photo--1 {
    order: 1;
  }
  #es-rc.es-rc-content .es-kv__photo--2 {
    order: 2;
  }
}
@media screen and (min-width: 768px) {
  #es-rc.es-rc-content .es-kv {
    padding-top: 0;
    min-height: auto;
    min-height: 350px;
    background: revert;
    position: relative;
  }
  #es-rc.es-rc-content .es-kv__bg {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
  }
  #es-rc.es-rc-content .es-kv__photoimg {
    display: block;
    max-width: 135px;
  }
  #es-rc.es-rc-content .es-product-colors__container,
  #es-rc.es-rc-content .es-product-use__container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  #es-rc.es-rc-content .es-product-use__single {
    width: revert;
  }
  #es-rc.es-rc-content .es-product-use__single-img {
    max-width: 101%;
  }
  #es-rc.es-rc-content .es-product-colors__single-title {
    min-width: 202px;
    font-size: 12px;
  }
  #es-rc.es-rc-content .es-cross__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #es-rc.es-rc-content .es-benefits__title {
    border-top: 2px solid black;
    background-color: #ffffff;
  }
  #es-rc.es-rc-content .es-benefits__container {
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid black;
    border-left: none;
    border-right: none;
  }
  #es-rc.es-rc-content .es-benefits__item:not(:last-child) {
    border-right: 2px solid black;
  }
  #es-rc.es-rc-content .es-product-colors__title {
    padding-top: 10px;
    background-color: #ffffff;
  }
  #es-rc.es-rc-content .es-results {
    position: relative;
    padding: 0;
  }
  #es-rc.es-rc-content .es-results__img {
    margin-bottom: 0;
  }
  #es-rc.es-rc-content .es-results__img--mobile {
    display: none;
  }
  #es-rc.es-rc-content .es-results__img--desktop {
    display: block;
    margin-top: 0;
  }
  #es-rc.es-rc-content .es-results__list {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-5%, -50%);
  }
}
@media screen and (min-width: 998px) {
  #es-rc.es-rc-content .es-section-title {
    font-size: 24px;
  }
  #es-rc.es-rc-content .es-kv {
    min-height: 453px;
  }
  #es-rc.es-rc-content .es-kv__logo {
    margin-bottom: 10px;
  }
  #es-rc.es-rc-content .es-kv__title {
    font-size: 32px;
  }
  #es-rc.es-rc-content .es-kv__subtitle {
    font-size: 26px;
  }
  #es-rc.es-rc-content .es-kv__photoimg {
    max-width: 190px;
  }
  #es-rc.es-rc-content .es-kv__label {
    font-size: 19px;
  }
  #es-rc.es-rc-content .es-kv__label-2 {
    font-size: 18px;
  }
  #es-rc.es-rc-content .es-results__list {
    max-width: 410px;
    top: 58%;
    left: 6%;
  }
  #es-rc.es-rc-content .es-results__disclaimer {
    margin-top: 70px;
  }
  #es-rc.es-rc-content .list-item__title {
    font-size: 18px;
    padding: 10px;
  }
  #es-rc.es-rc-content .es-product-colors__container {
    -moz-column-gap: 0;
         column-gap: 0;
    border: 2px solid black;
  }
  #es-rc.es-rc-content .es-product-colors__single-group {
    bottom: 5%;
  }
  #es-rc.es-rc-content .es-product-colors__single-product-img {
    right: -116px;
    bottom: -20px;
    height: 156px;
    min-width: 61px;
  }
  #es-rc.es-rc-content .es-product-colors__single {
    width: 25%;
  }
  #es-rc.es-rc-content .es-product-use__container {
    -moz-column-gap: 0;
         column-gap: 0;
    border: 2px solid black;
  }
  #es-rc.es-rc-content .es-product-use__single {
    width: 25%;
  }
  #es-rc.es-rc-content .es-product-use__single:not(:last-child) {
    border-right: 2px solid black;
  }
  #es-rc.es-rc-content .es-product-use__single-title {
    min-width: 225px;
    max-width: 225px;
    font-size: 14px;
  }
  #es-rc.es-rc-content .es-product-use__single-img {
    max-width: 244.5px;
  }
  #es-rc.es-rc-content .es-cross__container {
    border-top: 2px solid black;
    gap: 0;
  }
  #es-rc.es-rc-content .es-cross__single {
    flex: 0 1 calc(26% - 10px);
  }
  #es-rc.es-rc-content .es-cross__single-group {
    width: 101%;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */